/* Simple Style */
QPushButton {
    min-width: 80px;
} 

QPushButton {
    border-image: url(:/style/btn.bmp) 5px;
    border-width: 5px;
}

QPushButton:hover {
    border-image: url(:/style/btnhvd.bmp) 5px;
    border-width: 5px;
}

QPushButton:pressed {
    border-image: url(:/style/btnprs.bmp) 5px;
    border-width: 5px;
}
