#superfooter_9_2009 {
	clear:both;
	margin:10px 0 0 0;
	background-color:#ffffff;
	font-family:arial, helvetica, sans-serif;
	width: 962px !important;
}


#superfooter_9_2009 .none,
#superfooter_9_2009 a,
#superfooter_9_2009 a:active,
#superfooter_9_2009 a:visited,
#superfooter_9_2009 a:hover,
#superfooter_9_2009 a.none,
#superfooter_9_2009 a.none:active,
#superfooter_9_2009 a.none:visited,
#superfooter_9_2009 a.none:hover {
	text-decoration:none;
	border-bottom: none;
}

#superfooter_9_2009 #superfooter_9_2009_header {
	margin:0 0 21px 0;
	background-color:f4f4f3;
	text-decoration:none;
}

#superfooter_9_2009 #superfooter_9_2009_links {
	margin:0 0 17px 0;
	background-color:#ffffff;
	text-align:left;
	font-family:arial, helvetica, sans-serif;
	text-decoration:none;
}

#superfooter_9_2009 #superfooter_9_2009_links .superfooter_sectionheader {
	margin:0 0 6px 0;
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	font-size:14px;
}

#superfooter_9_2009 #superfooter_9_2009_links p {
	margin:0 0 6px 0;
	padding:0;
	font-family:arial, helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color:#003bb0;
	background-color:#ffffff;
}

#superfooter_9_2009 #superfooter_9_2009_links p.last {
	margin:0;
	padding:0;
	text-decoration:none;
}

#superfooter_9_2009 #superfooter_9_2009_links a,
#superfooter_9_2009 #superfooter_9_2009_links a:active,
#superfooter_9_2009 #superfooter_9_2009_links a:visited,
#superfooter_9_2009 #superfooter_9_2009_links a.supernavlink,
#superfooter_9_2009 #superfooter_9_2009_links a.supernavlink:active,
#superfooter_9_2009 #superfooter_9_2009_links a.supernavlink:visited {
	font-weight:normal;
	font-family:arial, helvetica, sans-serif;
	color:#003bb0;
	text-decoration:none;
	background-color:#ffffff;
}

#superfooter_9_2009 #superfooter_9_2009_links a.supernavlink:hover {
	font-family:arial, helvetica, sans-serif;
	font-weight:normal;
	color:#003bb0;
	text-decoration:underline;
	background-color:#ffffff;
}

#superfooter_9_2009 #superfooter_9_2009_tw {
	margin:0;
	padding:10px 0 10px 0;
	background-color:#f4f4f3;
	text-align:center;
}

#superfooter_9_2009 #superfooter_9_2009_tw a.tw_supernavlink,
#superfooter_9_2009 #superfooter_9_2009_tw a.tw_supernavlink:active,
#superfooter_9_2009 #superfooter_9_2009_tw a.tw_supernavlink:visited {
	font-family:arial, helvetica, sans-serif;
	color:#003bb0;
	font-weight: bold;
	font-size:12px;
	text-decoration:none;
}

#superfooter_9_2009 #superfooter_9_2009_tw a.tw_supernavlink:hover {
	font-family:arial, helvetica, sans-serif;
	color:#003bb0;
	font-weight: bold;
	font-size:12px;
	text-decoration:uncerline;
}

#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw1  {
	margin: 0;
	padding:0;
	list-style:none;
}

#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw2  {
	margin:8px 0 0 0;
	padding:0;
	list-style:none;
}

#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw1 li,
#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw2 li {
	margin:0;
	padding:0 12px 0 12px;
	border-right:solid 2px #999999;
	font-weight: bold;
	display: inline;
	text-indent:0;
	font-weight: bold;
	color:#003bb0;
}

#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw1 li.first,
#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw2 li.first {
	margin:0;
	padding:0 12px 0 0;
	border-right:solid 2px #999999;
}

#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw1 li.last,
#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw2 li.last {
	margin:0;
	padding:0 0 0 12px;
	border-right:none;
}

#superfooter_9_2009 #superfooter_9_2009_tw ul.superfooter_tw li a {
	text-indent:0;
}